footer
        img(src="../src/icons/logo.svg" alt="Clipboard logo")
        .links__container
            a(href="/")
                h2 FAQs
            a(href="/")
                h2 Contact Us
        .links__container
            a(href="/")
                h2 Privacy Policy
            a(href="/")
                h2 Press Kit
        .links__container
            a(href="/")
                h2 Install Guide
        .social-media__container
            img(src="../src/icons/icon-facebook.svg" alt="Facebook logo")
            img(src="../src/icons/icon-twitter.svg" alt="Twitter logo")
            img(src="../src/icons/icon-instagram.svg" alt="Instagram logo")