.about__section {
    margin-bottom: 24px;
    text-align: center;
    .text-block {
        @include media(desktop-s) {
            max-width: 540px;
		}
    }
    .image__container {
        width: 100%;
        height: auto;
        background-image: url("../src/images/bg-header-mobile.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            width: 125px;
            height: 125px;
            margin-top: 75px;
            margin-bottom: 75px;
        }
    }
}

.features__section {
    @include margin-section;
    .image__container{
        padding: 16px;
        @include media(desktop-s) {
            width: 850px;
            padding: 0;
            position: relative;
            right: 50px;
        }
        @include media(more-desktop) {
            width: 650px;
            position: static;
        }
        img {
            width: 100%;
            height: auto;
            max-width: 500px;
            margin-top: 46px;
            margin-bottom: 24px;
            @include media(desktop-s) {
                max-width: 850px;
            }
        }
    }
    .text-block {
        margin-top: 58px;
        margin-bottom: 68px;
    }

    .wrap > .text-block {
        @include media(desktop-s) {
            margin: 0 46px 46px 46px;
            text-align: left;
        }
    }
    .container {
        @include media(desktop-s) {
            display: flex;
            align-items: center;
        }
        @include media(more-desktop) {
            justify-content: center;
        }
    }
}

.access__section {
    @include margin-section;
    .image__container {
        padding: 16px;
        img {
            width: 100%;
            height: auto;
            max-width: 500px;
            margin-top: 46px;
            margin-bottom: 24px;
        }
    }
}

.tools__section {
    @include margin-section;
    margin-top: 46px;
    @include media(more-desktop) {
        max-width: 1480px;
        margin: 156px auto 24px auto;
    }
    .text-block:nth-child(1) {
        margin-bottom: 24px;
    }
    > div:not(:nth-child(1)) {
        margin-top: 84px;
    }
    div img {
        width: 42px;
        height: 34px;
        margin-bottom: 46px;
    }
    .container {
        > div {
            margin-bottom: 72px;
        }
        @include media(desktop-s) {
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

}

.brands__section {
    @include margin-section;
    @include media(desktop-s) {
        padding: 0 46px;
        display: flex;
        justify-content: space-between;
    }
    @include media(more-desktop) {
        max-width: 1480px;
        margin: 156px auto 24px auto;
    }
    div img {
        width: auto;
        height: auto;
        margin-bottom: 72px;
    }
}

.download__section {
    @include margin-section;
    .text-block {
        margin-bottom: 46px;
    }
}

footer {
    background-color: $footer-background-color;
    @include margin-section;
    margin-bottom: 0;
    @include media(desktop-s) {
        padding: 46px 46px 0 46px;
        display: flex;
        text-align: left;
    }
    @include media(more-desktop) {
        padding: 46px 100px 0 100px;
    }
    img {
        width: 62px;
        height: 62px;
        margin-top: 46px;
        margin-bottom: 42px;
        @include media(desktop-s) {
            width: 60px;
            height: 60px;
            margin: 0;
        }
    }
    h3 {
        margin-bottom: 32px;
    }
    div img {
        width: auto;
        height: auto;
        margin: 24px 26px 42px 26px;
    }
    .links__container {
        @include media(desktop-s) {
            margin-left: 72px;
        }
    }
    .social-media__container {
        @include media(desktop-s) {
            margin-left: auto;   
        }
    }
}